include .tws_config_master 
include README.md
include README
include VERSION
include CHANGES
include INSTALL
include LICENSE
include tuxwordsmith.py
include tws.ico
include TuxWordSmith-0.8.0.png
include tuxwordsmith-admin.desktop
include tuxwordsmith.desktop
recursive-include xdxf *
recursive-include Font *
recursive-include TuxWordSmith/Images *
recursive-include TuxWordSmith/Sounds *
recursive-include TuxWordSmith/Tiles *
recursive-include TuxWordSmith/Actors *
